.astate-injected-div {
	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 15px;
	background-color: rgba(217, 255, 0, 0.4);
	border: 1px solid #ccc;
	border-radius: 15px;
	z-index: 999999;
	font-family: sans-serif;
	font-size: 14px;
	color: #111;
	backdrop-filter: blur(5px);
}
.astate-injected-div:hover {
	background-color: rgba(217, 255, 0, 0.8);
	backdrop-filter: blur(10px);
}
